.Navbar {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
}

.Navbar .navbar {
  background-color: transparent;
}

.Navbar .navbar-brand {
  width: 100px;
}

.Navbar .navbar-toggler {
  border: none;
  background-color: transparent;
  outline: none;
}

.Navbar .navbar-toggler-icon {
  width: 20px;
  height: 20px;
}

.Navbar .navbar-nav .nav-item {
  margin-right: 15px;
}

.Navbar .nav-link {
  color: #161616;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.Navbar .nav-link:hover {
  color: #292929;
}

.btn {
  margin-right: 10px;
}

.btn:focus {
  outline: none;
}

.btn .bi {
  vertical-align: middle;
  color: #161616;
  font-size: 20px;
}

.btn .bi:hover {
  color: #292929;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Responsive styles */
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-link {
    margin-bottom: 10px;
  }

  .navbar-toggler {
    margin-right: 0;
  }
}
