.containerNav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
}

.containerNav .navbar {
  background-color: transparent;
}

.containerNav .navbar-brand {
  width: 100px;
}

.containerNav .navbar-toggler {
  border: none;
  background-color: transparent;
  outline: none;
}

.containerNav .navbar-toggler-icon {
  width: 20px;
  height: 20px;
}

.containerNav .navbar-nav .nav-item {
  margin-right: 15px;
}

.containerNav .nav-link {
  color: #161616;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.containerNav .nav-link:hover {
  color: #292929;
}

.btn {
  margin-right: 10px;
}

.btn:focus {
  outline: none;
}

.btn .bi {
  vertical-align: middle;
  color: #161616;
  font-size: 20px;
}

.btn .bi:hover {
  color: #292929;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Responsive styles */
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-link {
    margin-bottom: 10px;
  }

  .navbar-toggler {
    margin-right: 0;
  }
}





/* Path: src\components\Hero.css 
.hero header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.hero header.sticky {
  background-color: #fff !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.hero .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .nav-item:not(:last-child) {
  margin-right: 1rem;
}

.hero .nav-link,
.hero .btn {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.hero .nav-link:hover,
.hero .btn:hover {
  color: #333;
  background-color: transparent;
}
*/